@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

:root {
	font-family: nunito, sans-serif;
	--color-primary: #00272d;
	--color-secondary: #134647;
	--color-tertiary: #bfac8b;
	--bg-color-primary: var(--color-primary);
	--bg-color-secondary: var(--color-secondary);
	--bg-color-tertiary: var(--color-tertiary);
	--bg-glogal: var(--color-primary);
	--font-color-primary: var(--color-tertiary);
	--font-color-secondary: var(--color-primary);
}
